.plank
{
	min-width: 150px;
	min-height: 45px;
	position: relative;
	overflow: hidden;
	font-size: 15px;
}

.plank span
{
	margin: auto;
}

.plank:hover
{
	overflow: visible;
}

.controls
{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	-webkit-filter: blur(0);
	opacity: 0;
	transition: opacity 0.3s;
}

.controls:before
{
	content: '';
	position: absolute;
	top: -100%;
	bottom: -100%;
	right: 0;
	left: 0;
	text-align: center;
	background: white;
	transition: top 0.3s, bottom 0.3s, opacity 0.3s;
	box-shadow: 0 0 15px 0 white;
	will-change: opacity, top;
	opacity: 0;
	pointer-events: none;
}

.plank:hover .controls:before
{
	opacity: 1;
	top: 0;
	bottom: 0;
}

.controls button
{
	display: inline-block;
	box-sizing: content-box;
	vertical-align: middle;
	width: 20px;
	height: 20px;
}

.controls button + button
{
	margin-left: 5px;
}

.plank:hover .controls
{
	opacity: 1;
	top: 0;
	bottom: 0;
}