/**
 * ================================================
 * 					   Общее
 * ================================================
 */

hr
{
	margin: 10px 0;
	border: 0;
	border-bottom: 1px dashed #bbb;
}

hr:before
{
	display: none;
}

/**
 * ================================================
 * 					   Поля ввода
 * ================================================
 */

input:not([type="submit"]):focus, textarea:focus
{
	border-color: #5C9EF3;
}

input:not([type="submit"]):required, textarea:required
{
	border-right-color: #5C9EF3;
}

/**
 * ================================================
 * 						Кнопки
 * ================================================
 */

button,
input[type="submit"],
toggle-button
{
	background: #5C9EF3;
	font-size: 15px;
	font-weight: bold;
	color: white;
	text-shadow: none;
}

button:hover,
input[type="submit"]:hover,
toggle-button:hover
{
	background: #5C9EF3;
	box-shadow: 0 3px 0 0 #337BD6;
}

button:active,
input[type="submit"]:active,
toggle-button:active
{
	box-shadow: none;
}

button img,
toggle-button img
{
	height: 100%;
}

/**
 * ================================================
 * 						Чекбокс
 * ================================================
 */

input[type="checkbox"] + label:before
{
}

input[type="checkbox"]:checked + label:before
{
	background: url('/public/images/check_icon_cleaned.svg') center #5C9EF3;
	border: 1px solid #5C9EF3;
}