.status
{
	width: 20px;
	height: 20px;
	display: inline-block;
	border-radius: 50%;
	float: right;
}

.status-off-color
{ background: #E95A46; }

.status-wait-off-color
{ background: #E9D846; }

.status-on-color
{ background: #36B436; }