.info-block
{
	margin: 15px;
	padding: 15px;
	background: #fff;
	min-width: 250px;
	border: 1px solid #e3e3e3;
	border-radius: 1px;
}

.info-block h2 + dl
{
	margin-top: 10px;
}

.info-block dl dt,
.info-block dl dd
{
	display: inline;
	line-height: 1.4;
}

.info-block dl dt
{
	color: #2c2c2c;
	font-weight: 700;
}


.info-block dl dt:after
{
	content: ': ';
}

.info-block dl dd:after
{
	content: '';
	display: table;
}