/* Стили для списка с использованием секций */

section
{
	padding: 7px;
	margin: 7px;
	background: white;
	max-width: 400px;
	min-width: 220px;
	border: 1px solid #e3e3e3;
	border-radius: 1px;
}

.controls-container > section
{
	width: 270px;
}

section.selected { outline: 2px dashed #5C9EF3; }

p		{ font-size: 12px; }
p + p	{ margin-top: 5px; }

time
{
	color: rgba(1,1,1,0.38);
	font-size: 13px;
}

section button,
section toggle-button
{ height: 30px; }

section > button { width: 100%; }

input[type="text"],
input[type="number"],
input[type="email"],
textarea
{
	width: 100%;
	height: 30px;
}

textarea
{
	display: block;
	height: 50px;
	max-height: 100px;
	resize: vertical;
}

section > :not(hr) + input[type="checkbox"] + label,
section > :not(hr) + button
{ margin-top: 10px; }

input + label,
textarea + label
{ margin-top: 5px; }

label + input,
label + textarea
{ margin-top: 3px; }

section > input + input
{ margin-top: 10px; }

.plank
{
	display: flex;
	flex-direction: column;
}

.name { font-size: 15px; }
.description { flex: 1; }

.info
{
	flex: 0;
}

.buttons-panel
{
	display: flex;
	justify-content: flex-end;
}

.buttons-panel > * + *
{
	margin-left: 5px;
}

.buttons-panel > button > img,
.buttons-panel > toggle-button > img
{
	position: relative;
	height: 100%;
	margin: 0;
}

/**
 * ================================================
 * 				Переход по страницам
 * ================================================
 */

.page-control
{
	height: 30px;
	text-align: center;
}

.page-control span
{
	line-height: 30px;
	font-size: 15px;
}

.page-control button
{
	width: 30px;
	font-size: 35px;
	font-weight: 400;
	line-height: 0;
	display: block;
}

.page-control button:nth-child(3) { float: right; }
.page-control button:nth-child(1) { float: left; }

.page-control button img
{
	margin: 0;
}