.block
{
	overflow: hidden;
}

.images
{
	position: relative;
	margin: -20px -20px 0;
}

.page-img
{
	width: 100%;
	display: block;
}

.logo-img
{
	position: absolute;
	left: 7%;
	bottom: 0;
	width: 7%;
	box-shadow: 0 -1px 5px 0 rgba(0,0,0,0.3);
}

.name-container
{
	margin-top: 20px;
	align-items: center;
}

/**
 * ================================================
 * 						Сезоны
 * ================================================
 */

.season
{
	margin-top: 10px;
}

.season .number
{
	float: left;
	font-size: 19px;
	font-weight: 300;
	padding-right: 10px;
}

.season .name
{
	font-weight: 300;
	font-size: 15px;
	color: inherit;
}

.season .description
{
	margin-top: 10px;
}