
.channels-list
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: -20px;
}

.channels-list .plank
{
	display: flex;
	align-items: flex-start;
	width: 49%;
	flex-shrink: 0;
	margin-bottom: 20px;
}

.channels-list .plank a img
{
	width: 85px;
}

.channels-list .plank > div
{
	margin-left: 15px;
}

.channels-list .name-container
{
	padding-bottom: 5px;
	align-items: center;
}

.channels-list .plank .name
{
	font-size: 15px;
	font-weight: 300;
	color: inherit;
}

.channels-list .plank .description
{
	display: inline-block;
	text-align: justify;
}

/**
 * ================================================
 * 				Постраничная навигация
 * ================================================
 */

.pages-nav
{
	display: flex;
	justify-content: center;
	align-items: center;
}

.pages-nav > *
{
	margin: 0 5px;
}


.pages-nav button img
{
	width: 21px;
	height: 21px;
	margin-right: 0;
}