combo-box
{
	display: block;
	position: relative;
	overflow: visible;
}

combo-box > div
{
	position: absolute;
	width: 100%;
	background: white;
	border: 1px solid #70AEFF;
	margin-top: -2px;
	box-shadow: 0 2px 7px 0 rgba(0,0,0,0.2);
	border-radius: 0 0 2px 2px;
	z-index: 1;
}

combo-box span
{
	display: block;
	cursor: pointer;
	padding: 4px;
	transition: 0.12s;
}

combo-box span:hover,
combo-box span.selected
{
	background: #E6E6E6;
}

label + combo-box
{
	margin-top: 3px;
}

combo-box + label
{
	margin-top: 5px;
}

section > :not(hr) + combo-box
{
	margin-top: 10px;
}