/**
 * ================================================
 * 						Общее
 * ================================================
 */

section
{
	position: relative;
}

button, toggle-button, input, textarea
{
	border-radius: 1px;
	border: 0;
	padding: 5px;
	color: inherit;
}

textarea
{ resize: vertical; }

hr
{
	border: none;
	margin: 20px 0;
	height: 1px;
}

hr:before
{
	content: '';
	position: absolute;
	height: 1px;
	left: 0;
	right: 0;
	background: #ebebeb;
}

hr.vertical
{
	margin: 0 20px;
	width: 1px;
	height: auto;
}

hr.vertical:before
{
	width: 1px;
	height: auto;

}

/**
 * ================================================
 * 					   Поля ввода
 * ================================================
 */

input:not([type="submit"]), textarea
{
	font-size: 15px;
	border: 1px solid #d3d3d3;
	border-top: 1px solid #ccc;
	transition: 0.15s;
	background: white;
}

input:not([type="submit"]):focus, textarea:focus
{
	border-color: #dcc542;
	box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

/* Поля, требуемые к заполнению */
input:not([type="submit"]):required, textarea:required
{
	border-right: 2px solid #f0c620;
	margin-right: -2px;
}

/**
 * ================================================
 * 						Кнопки
 * ================================================
 */

button, toggle-button, input[type="submit"]
{
	border-radius: 3px;
	position: relative;
	transition: 0.1s;
	cursor: pointer;
	will-change: transform;
	background: #f0c620;
	text-shadow: 0 1px 2px rgba(214, 179, 0, 0.5);
	color: white;
	font-weight: 500;
	font-size: 15px;
	padding: 5px 10px;
}

button:hover, toggle-button:hover, input[type="submit"]:hover
{
	-moz-transform: translateY(-3px);
	-ms-transform: translateY(-3px);
	-webkit-transform: translateY(-3px);
	-o-transform: translateY(-3px);
	transform: translateY(-3px);
	background: #f8c706;
	box-shadow: 0 3px 0 0 #cca60f;
}

button:active, toggle-button:active, input[type="submit"]:active
{
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-webkit-transform: translateY(0px);
	-o-transform: translateY(0px);
	transform: translateY(0px);
	box-shadow: none;
}

button.cancel, toggle-button.cancel
{
	background: #ccc;
	text-shadow: none;
}

button.cancel:hover, toggle-button.cancel:hover
{
	box-shadow: 0 3px 0 0 #b5b5b5;
}

button.cancel:active, toggle-button.cancel:active
{
	box-shadow: none;
}

section > button img
{
	position: absolute;
	height: 60%;
	top: 50%;
	transform: translateY(-50%);
	left: 5px;
}

button *, input[type="submit"] *, toggle-button *
{
	vertical-align: middle;
}

button img, input[type="submit"] img
{
	height: 70%;
	margin-right: 5px;
}

.icon-button
{
	padding: 5px;
}

/**
 * ================================================
 * 	Кнопка с меняющейся картинкой при наведении.
 *	Картинки должны предшествовать тексту.
 * ================================================
 */

button.toggle-img > :first-child
{
	transition: 0.2s;
}

button.toggle-img > :first-child + *
{
	transition: 0.2s;
	visibility: hidden;
	opacity: 0;
}

button.toggle-img:hover > :first-child
{
	visibility: hidden;
	opacity: 0;
}

button.toggle-img:hover > :first-child + *
{
	visibility: visible;
	opacity: 1;
}

/**
 * ================================================
 * 						Чекбокс
 * ================================================
 */

input[type="checkbox"] { display: none; }

input[type="checkbox"] + label
{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

* + input[type="checkbox"] + label
{
	margin-top: 12px;
}

input[type="checkbox"] + label:before
{
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 19px;
	width: 19px;
	border-radius: 1px;
	margin-right: 5px;
	border: 1px solid #d3d3d3;
	border-top: 1px solid #ccc;
	transition: 0.2s;
}

input[type="checkbox"]:checked + label:before
{
	border: 1px solid #f0c620;
	background: url('/public/images/check_icon_cleaned.svg') center #f0c620;
	background-size: cover;
}

/**
 * ================================================
 * 						Другое
 * ================================================
 */

label
{
	display: block;
	cursor: pointer;
}