main
{
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	align-content: flex-start;
}

.episode-info { flex: 1; }

section.episode
{
	margin: 0;
	padding: 0;
	flex: 0 100%;
}

.video-js
{
	display: block;
	margin: 0 auto;
	background: black;
}

.video-js button
{
	text-shadow: none;
}

.video-js button:hover
{
	transform: none;
	will-change: none;
	box-shadow: none;
}

.episodes .episode
{
	margin-right: 0;
}

/**
 * ================================================
 * 						Лайки
 * ================================================
 */

.likes
{
	height: 30px;
	background: #EAEAEA;
	border-radius: 3px;
}

.likes span { margin: 0 10px; }

.likes > *,  .views > *
{
	vertical-align: middle;
}

.likes button
{
	height: 30px;
	width: 30px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.likes button svg
{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 16px;
	height: 16px;
	margin-top: -8px;
	margin-left: -8px;
}

.likes .cancel * { fill: rgba(242,93,93,0.87); }


/**
 * ================================================
 * 						Просмотры
 * ================================================
 */

.views
{
	display: flex;
	align-items: center;
	margin-right: 15px;
}

.views img,
.views svg,
.views svg path
{
	height: 20px;
	fill: #CCC;
	margin-right: 7px;
}

/**
 * ================================================
 * 					Комментарии
 * ================================================
 */

.comments form
{
	overflow: hidden;
}

.comments textarea
{
	width: 100%;
	font-size: 13px;
}

.right button
{
	height: 30px;
	float: right;
	margin-top: 5px;
}

.comments button img
{
	height: 100%;
	margin-right: 7px;
}

.avatar
{
	height: 28px;
	border-radius: 50%;
	background: #F0C620;
	margin-right: 8px;
}

.no-avatar-pad
{
	padding: 3px;
}

form
{
	display: flex;
}

form .avatar
{
	height: 50px;
	width: 50px;
	flex-shrink: 0;
}

form .right
{
	flex-grow: 1;
}

form .username
{
	display: inline-block;
	margin-bottom: 5px;
}

.comment + .comment
{
	margin-top: 25px;
}

.comment time
{
	display: inline-block;
	color: rgba(0,0,0,0.57);
	font-size: 10px;
	margin-top: 5px;
}

.user *
{
	vertical-align: middle;
}

.content
{
	display: block;
	margin-top: 5px;
}