.top
{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

#categories,
.search-field
{
	display: inline-block;
}

/**
 * ================================================
 * 					Поле поиска
 * ================================================
 */

.search-field
{
	height: 30px;
	flex-shrink: 0;
}

.search-field > *
{
	height: 100%;
}

.search-field input
{
	border-right-width: 0;
}

.search-field button
{
	font-size: 15px;
	border-radius: 0 3px 3px 0;
	padding: 0 15px;
}

/**
 * ================================================
 * 						Категории
 * ================================================
 */

#categories
{
	margin-left: 20px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

#categories a { transition: 0.1s; }
#categories .selected { font-weight: bold; }

.top a { margin: 10px; }
#all-categories { white-space: nowrap; }