
.edit-data-container
{
	display: flex;
}

.edit-data-container > * + *
{
	padding-left: 20px;
	margin-left: 20px;
	border-left: 1px solid #ebebeb;
}

h1
{
	padding-bottom: 10px;
}

form td
{
	text-align: right;
	padding: 3px 0;
}

form td:first-child:not([colspan="2"])
{
	padding-right: 10px;
}

form > input[type="submit"]
{
	margin-top: 10px;
}