menu
{
	display: flex;
	flex-direction: column;

	float: left;
	background: #1a1a1a;
	overflow: auto;
	height: 100%;
	width: 220px;
}

/**
 * ================================================
 * 						Логотип
 * ================================================
 */

.logo
{
	margin-top: 10px;
	text-align: center;
}

.logo:hover { text-decoration: none; }

.logo img
{
	display: block;
	margin: 0 auto;
	width: 130px;
}

.logo span
{
	display: block;
	margin-top: 5px;
	color: white;
	font-size: 17px;
	text-decoration: none;
}

span.logo-label
{
	font-size: 22px;
	font-weight: 300;
}

/**
 * ================================================
 * 						Меню
 * ================================================
 */

.menu
{
	flex-grow: 1;
	margin-top: 10px;
	font-size: 14px;
}

.menu > a
{
	position: relative;
	display: flex;
	align-items: center;
	padding: 10px 5px 10px 20px;
	color: #D5D5D5;
	font-weight: 400;
	transition: 0.1s;
	text-decoration: none;
}

.menu > a > svg,
.menu > a > img
{
	height: 19px;
	margin-right: 10px;
}

.menu > a > svg *
{
	fill: #D5D5D5;
}

.menu > a:hover,
.menu > a.active,
.menu > a.active:hover
{
	color: white;
	background: #101010;
}

.menu > a.active > svg *,
.menu > a:hover > svg *
{
	fill: white;
}

.menu > a.active:after
{
	content: '';
	position: absolute;
	right: 0;
	top: calc(50% - 8px);
	border-width: 8px 8px 8px 0;
	border-color: transparent #f5f5f5 transparent transparent;
	border-style: solid;
}

.menu > a.active:before
{
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 3px;
	background: #F0C620;
}

/**
 * ================================================
 * 						Копирайт
 * ================================================
 */

.cp-link,
.copyright
{
	text-align: center;
	padding-bottom: 10px;
}

.cp-link a
{
	color: #f0c620;
	font-weight: 300;
	font-size: 11px;
	text-shadow: 0 1px 1px black;
	transition: 0.2s;
}

.cp-link a:hover
{
	color: white;
	text-decoration: none;
}

.copyright
{
	color: #D5D5D5;
	font-size: 13px;
	font-weight: 300;
}